.chart-wrapper {
  position: relative;
}

.chart-tooltip {
  display: none;
  position: absolute;

  background-color: lightgrey;
  border: solid 1px;
  padding: 0.3em;

  z-index: 1;

  &.visible {
    display: inline-block;
  }
}

.chart {
  width: 100%;
}

// SVG styles
.chart rect.highlighted {
  fill: #57a1b4;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}